<div class="row no-gutters mt-4">
  <div class="container py-4 col-10 mt-4">

    <h1 class="text-center mb-4">My To Do List 🗒🖌</h1>

    <div class="w-50" data-controller="insert-in-list" data-insert-in-list-position-value="afterbegin">
      <div>

        <div class="accordion accordion-flush w-75 border border-info" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                ➕ Add a New Task
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <%= simple_form_for(@task, data: {
                          insert_in_list_target: 'form',
                          action: 'submit->insert-in-list#send'
                        }) do |f| %>
                  <%= f.input :name, placeholder: 'Paperwork' %>
                  <%= f.input :description, placeholder: 'Write/ Send/ Count/ Bill/ Work' %>
                  <%= f.input :deadline, as: :datetime  %>
                  <%= f.input :completed, as: :boolean %>


                  <% button_text = @task.new_record? ? "Add New Task" : "Edit my Task" %>
                  <%= f.submit button_text, class: "btn btn-info border mt-3" %>
                <% end%>
              </div>
            </div>
          </div>
        </div>


        <hr class="w-75">
        <div class="list">
          <h4> You have :
            <%= @tasks.count %> Tasks to do.
          </h4>
          <hr class="w-75">
          <div class="tasks">
            <ul data-insert-in-list-target="items">
              <% @tasks.each do |task| %>
                <%= render 'task', task: task %>
              <% end %>
              <br>
              <hr class="w-75">
              <h3>Done Tasks</h3>
              <hr class="w-75">
              <% @done_tasks.each do |task| %>
                <%= render 'task', task: task %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

